<div *ngIf="booking.name">
    <ion-card>
        <ion-card-header style="background: lightgoldenrodyellow">{{booking.name}}</ion-card-header>
        <ion-card-content style="background: lightyellow">
            <ion-datetime disabled displayFormat="MM/DD/YYYY" [(ngModel)]="booking.date"></ion-datetime>
            <div>Madre: <b> {{booking.mother}} {{booking.motherphone}} {{booking.motherdni}}</b></div>
            <div>Padre: <b> {{booking.father}} {{booking.fatherphone}} {{booking.fatherdni}}</b></div>
            <div>Libros : {{booking.books.length}} Total: {{booking.total}} €</div>
        </ion-card-content>

    </ion-card>
</div>
<ng-container *ngFor="let book of booking.books">
    <ion-card>
        <ion-card-header>
            {{book.name}}
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>{{book.count>1? book.count+' x ':''}} {{book.price}} €</ion-col>
                    <ion-col>{{book.course}}</ion-col>
                    <ion-col>{{book.ISBN}}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ng-container>