page-home {
    h3 {
        font-size: 2rem;
    }
}

h3 {
    font-size: 2rem;
}

.selected {
    background: #eee;
}

ion-badge {
    font-size: 1.2em;
}

ion-badge.empty {
    background-color: #eee;
}

.bookname {
    font-size: 1.2em;
}

.item.item-md {
    padding-left: 0px;
}

.price {
    font-size: 2rem;
}
.group {
    background: lightblue;
    padding-left: 2rem;
    margin-left: -2rem;
    padding-right: 2rem;
    color: white;
}
.group1 {
    background: lightcoral;
}
.group2 {
    background: lightseagreen;
}
.group3 {
    background: lightsalmon;
}
.group4 {
    background: slateblue;
}
.group5 {
    background: gold;
}
.group6 {
    background: salmon;
}
.group7 {
    background: aqua;
}
.group8 {
    background: burlywood;
}
.group9 {
    background: cornflowerblue;
}
.group10 {
    background: khaki;
}
.group11 {
    background: aquamarine;
}
.group12 {
    background: indianred;
}
.group13 {
    background: olivedrab;
}
.group14 {
    background: teal;
}
.group15 {
    background: limegreen;
}